/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: gainsboro;
	font-family: "Poppins", serif;
}

nav {
    position: fixed;
	margin-top: 128px;
	background-color: #333;
	color: white;
	padding: 10px 0;
	text-align: center;
}
nav a {
	color: white;
	text-decoration: none;
	margin: 0 15px;
	font-weight: bold;
}

.top-banner-wrapper {
    position: fixed;
    width: 100vw;
    height: 92px;
    background-color: #CF2B2B;
    top: 0;
    right: 0;
    z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
}

.top-banner {
	width: 80vw;
}

.top-banner h1 {
    color: rgb(241, 241, 241);
    font-size: 44px;
    font-weight: 600;
    margin: 0 0 0 21px;
	font-family: "Merriweather", serif;

}

.top-banner p {
    color: rgb(241, 241, 241);
    font-size: 18px;
    margin: 5px 0 0 24px;
}

.content-wrapper {
	background-color: rgb(241, 241, 241);
	width: 80vw;
	height: fit-content;
	margin: auto;
	padding-bottom: 50px;
	box-shadow: 0 0 10px 2px rgba(138, 138, 138, 0.3);

}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	width: 90%;
	margin: auto;
	padding-top: 150px;
}

.section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
	scroll-margin-top: 142px;
}

.section h1 {
	color: rgb(4, 4, 4);
    font-size: 24px;
    font-weight: 600;
	margin-bottom: 20px;
}

.section p {
	color: rgb(4, 4, 4);
    font-size: 18px;
    font-weight: 400;
	line-height: 25px;
	margin-bottom: 25px;
	width: 70%;
}

.section span {
	color: rgb(4, 4, 4);
    font-size: 14px;
    font-weight: 400;
	line-height: 20px;
	margin-bottom: 45px;
	margin-right: 15px;
}

.section img {
	width: 55%;
	box-shadow: 0 0 1px 10px  #333;
}

.section li {
	color: rgb(4, 4, 4);
    font-size: 18px;
    font-weight: 400;
	line-height: 30px;
	margin-bottom: 25px;
	width: 70%;
}

.section strong {
    font-weight: 600;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 20px;
	scroll-margin-top: 142px;

}

.gallery img {
	width: 100%;
	max-width: 300px;
	height: 180px;
	margin-right: 10px;
	margin-top: 25px;
	object-fit: cover;
	box-shadow: 0 0 1px 5px  #333;

}

.gallery h1 {
	color: rgb(4, 4, 4);
    font-size: 24px;
    font-weight: 600;
	margin-top: 35px;
}

.contact {
	scroll-margin-top: 142px;

}

.contact h1 {
	color: rgb(4, 4, 4);
    font-size: 24px;
    font-weight: 600;
	margin-top: 25px;
	margin-bottom: 20px;
}

.form-wrapper form {
	display: flex;
	flex-direction: column;
}

.form-wrapper input, .form-wrapper textarea {
	margin: 10px 0;
	font-family: "Poppins", serif;
}

@media (max-width: 800px) {
    body {
        font-size: 14px;
        padding: 10px;
    }

	.top-banner-wrapper {
		height: 62px;
	}
	
	.top-banner {
		width: 98vw;
	}
	
	.top-banner h1 {
		font-size: 32px;
	}
	
	.top-banner p {
		font-size: 14px;
	}
	
	.content-wrapper {
		width: 100vw;
	}

	nav {
		margin-top: 102px;
		background-color: #333;
		color: white;
		padding: 10px 0;
		text-align: center;
	}
	nav a {
		color: white;
		text-decoration: none;
		margin: 4px 15px;
		font-weight: bold;
	}

	.content {
		width: 98%;
		margin: auto;
		padding-top: 115px;
	}
	
	.section {
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		scroll-margin-top: 100px;
		margin-left: 15px;
	}
	
	.section h1 {
		color: rgb(4, 4, 4);
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 20px;
	}
	
	.section p {
		color: rgb(4, 4, 4);
		font-size: 18px;
		font-weight: 400;
		line-height: 25px;
		margin-bottom: 25px;
		width: 100%;
	}
	
	.section span {
		color: rgb(4, 4, 4);
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		margin-bottom: 45px;
		margin-right: 15px;
	}
	
	.section img {
		width: 90%;
		box-shadow: 0 0 1px 10px  #333;
		margin-bottom: 20px;
	}
	
	.section li {
		color: rgb(4, 4, 4);
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
		margin-bottom: 25px;
		width: 100%;
	}
	
	.section strong {
		font-weight: 600;
	}

	.gallery {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		margin-bottom: 20px;
		margin-left: 15px;
		scroll-margin-top: 100px;
	
	}
	
	.gallery img {
		width: 100%;
		max-width: 99%;
		height: 200px;
		margin-right: 10px;
		margin-top: 25px;
		object-fit: cover;
		box-shadow: 0 0 1px 5px  #333;
	
	}
	
	.gallery h1 {
		color: rgb(4, 4, 4);
		font-size: 24px;
		font-weight: 600;
		margin-top: 35px;
	}
	
	.contact {
		scroll-margin-top: 100px;
		margin-left: 15px;
	}
	
	.contact h1 {
		color: rgb(4, 4, 4);
		font-size: 24px;
		font-weight: 600;
		margin-top: 25px;
		margin-bottom: 20px;
	}
	
	.form-wrapper form {
		display: flex;
		flex-direction: column;
		width: 90vw;

	}
	
	.form-wrapper input, .form-wrapper textarea {
		margin: 10px 0;
		font-family: "Poppins", serif;
	}
}



